[submodule "OCA/fsm"]
	path = OCA/fsm
	url = git@github.com:OCA/field-service.git
	branch = 14.0

[submodule "OCA/stock-logistics-warehouse"]
	path = OCA/stock-logistics-warehouse
	url = git@github.com:OCA/stock-logistics-warehouse.git
	branch = 14.0
